<!DOCTYPE html>
<html lang="en-us">

<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel = "stylesheet" href = "style.css">
<script src = "https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.20/vue.min.js"> </script>

<body class="Site" id = "main-controller">

  <!-- template for the modal component -->

<!--
<script type="x/template" id="modal-template" :show="showModal">
    <transition name="modal" :show="showModal">
        <div class="modal-mask" v-show="show">
            <div class="modal-container">
                <div class="modal-header">
                    <h3>New Post</h3>
                </div>
                <div class="modal-body">
                    <label class="form-label">
                        Title
                        <input class="form-control">
                    </label>
                    <label class="form-label">
                        Body
                        <textarea rows="5" class="form-control"></textarea>
                    </label>
                </div>
                <div class="modal-footer text-right">
                    <button class="modal-default-button" @click="savePost()">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </transition>
</script>

-->

  <modal :show="showModal" :modal_form="modalForm">

  </modal>

  <main class="Site-content">

	<div class = "ui fixed inverted menu">
		<div class = "ui container">

			<a href = "/movies.html" v-bind:class="getPrimaryNavClass('movies')" class="item">Movies</a>
	  		<a href = "/genres" v-bind:class="getPrimaryNavClass('genres')" class="item">Genres</a>
	  		<a href = "/actors" v-bind:class="getPrimaryNavClass('actors')" class="item">Actors</a>
		</div>

	</div>

  <div class = "main-container">
      <div class="ui search" v-show="showingList">
        <div class="ui icon input">
          <input placeholder={{placeHolder}} type="text" v-model="searchFilter">
          <i class="search icon"></i>
        </div>
      </div>

  	<div class = "actorDetail" v-show = "showing === 'actor_detail'">
      <actor-component detail="true" :actor = "detailActor">

      </actor-component>
  	</div>

  	<div class = "movieDetail ui divided items" v-show = "showing === 'movie_detail'">
      <movie-component :movie = "detailMovie" detail="true">

      </movie-component>
  	 </div>

  	 <div class = "movies" v-show = "showing === 'movies'">

     <div class = "modal-config-container">
       <button class = "ui positive basic button" id="show-modal" @click="$dispatch('openModal','movie')">Add Movie</button>
     </div>

  	 	<h3 class="ui header" id = "movieListHeader"> Movies</h3>

  	 	<div class="ui divided items" id = "movieListItemContainer">
        <template v-for="movie in movies | filterBy searchFilter">
          <movie-component :movie = "movie" detail="false">

          </movie-component>
        </template>
  		</div>
  	 </div>

  	<div class = "actors" v-show = "showing === 'actors'">

      <div class = "modal-config-container">
        <button class = "ui positive basic button" id="show-modal" @click="$dispatch('openModal','actor')">Add Actor</button>
      </div>
  		<h3 class="ui header" id = "actorListHeader"></h3>


  		<div class="ui horizontal list" id = "actorList">
        <template v-for="actor in actors | filterBy searchFilter">
          <actor-component detail="false" :actor = "actor">

          </actor-component>
        </template>
  		</div>
  	</div>

    <div class="ui horizontal list" id = "genreList" v-show = "showing === 'genres'">

      <div class = "modal-config-container">
        <button class = "ui positive basic button" id="show-modal" @click="$dispatch('openModal','genre')">Add Genre</button>
      </div>

      <template v-for="genre in genres | filterBy searchFilter">
        <genre-component :genre="genre" detail="false">

        </genre-component>
      </template>
    </div>

  	 <div class = "genreDetail" v-show = "showing === 'genre_detail'">
        <genre-component :genre="detailGenre" detail="true">

        </genre-component>
     </div>

 </div>

</main>
<footer>
	<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">

      </div>
      <div class="ui inverted section divider"></div>
      <div class="ui horizontal inverted small divided link list">
        <a class="item">Site Map</a>
        <a class="item">Contact Us</a>
        <a class="item">Terms and Conditions</a>
        <a class="item">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
</body>

<script src = "notifi8.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src = "page.js"></script>
<script src = "auth.js"></script>
<script src = "mixins.js"> </script>
<script src = "movieComponent.js"></script>
<script src = "actorComponent.js"></script>
<script src = "genreComponent.js"></script>
<script src = "modalComponent.js"></script>
<script src = "movieAdder.js"></script>
<script src = "actorAdder.js"></script>
<script src = "genreAdder.js"></script>
<script src = "model.js"></script>
<script src = "database.js"></script>
<script src = "controller.js"></script>


</body>
</html>
